<div class="navbar navbar-default navbar-fixed-top color4">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="color1">W</span><span class="color2">A</span><span
                        class="color3">T</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a onclick="$('#credits').modal({keyboard:false,focus:true,show:true});">Credits</a></li>
                <li><a onclick="$('#help').modal({keyboard:false,focus:true,show:true});">Help</a></li>
                <li><a href="http://olivier.kraif.u-grenoble3.fr">(cc) Olivier Kraif</a></li>
            </ul>
        </div>
    </div>
</div>
