<!DOCTYPE html>
<html>
<head>
    <title>Thực hiện gióng hàng</title>
</head>
<body>
<div style="width: 100%;height:100px;background:#gray;" align="center">
    <h1 style="color: #304499;">Công cụ hỗ trợ soạn thảo ngữ liệu song ngữ</h1>
</div>
<div style="width: 100%;height: 50px;background:gray;">
    <ul style="display: inline-block;" class="menu">
        <li style="list-style: none;float: left;height: 50px;width: 100px;text-align: center;margin-top: -15px;"><a
                    href="demo01.html" style="text-decoration: none;line-height: 50px;color: white;">Trang Chủ</a></li>
        <li style="list-style: none;float: left;height: 50px;width: 150px;text-align: center;margin-top: -15px;"><a
                    href="solieuthongke.html" style="text-decoration: none;line-height: 50px;color: white;">Thống kê ngữ
                liệu</a></li>
        <li style="list-style: none;float: left;height: 50px;width: 150px;text-align: center;margin-top: -15px;"><a
                    href="gionghangvb.html" style="text-decoration: none;line-height: 50px;color: white;">Gióng hàng văn
                bản</a></li>
        <li style="list-style: none;float: left;height: 50px;width: 150px;text-align: center;margin-top: -15px;"><a
                    href="gionghangcau.html" style="text-decoration: none;line-height: 50px;color: white;">Gióng hàng
                câu</a></li>
        <li style="list-style: none;float: right;text-align:center;right:0;height: 50px;width: 150px;margin-top: -15px;">
            <a href="" style="text-decoration: none;line-height: 50px;color: white;">Tài Khoản 1</a></li>
    </ul>
    <style type="text/css">.menu li:hover {
            background: #A0A0A0;
        }

        .menu li a:hover {
            color: blue;
        }

        table {
            width: 100%;
            height: auto;
            font-family: arial, sans-serif;
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-top: 1px solid #dee2e6;
            text-align: center;
        }

        tbody tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        .detele {
            width: 60%;
            height: 30px;
            font-size: 16px;
            margin-left: 10px;
        }

        .detele-gh {
            width: auto;
            height: 30px;
            font-size: 16px;
        }

        .content {
            width: 100%;
            height: auto;
            margin-top: 2%;
        }

        .content-1 {
            width: 60%;
            height: auto;
            margin-left: 10%;
            border: 2px solid #ddd;;
            padding-left: 15%;
            border-radius:

        }

        .website {
            margin-right: 10px;
            margin-left: 10px;
            font-size: 18px;
        }

        .leangue {
            width: 15%;
            height: 30px;
            margin-right: 20px;
        }

        .modal {
            margin: 0% 3% 0% 3%;
            width: 100%;
        }

        .modal-table {
            width: 90%;
            height: auto;
            text-align: center;
            font-size: 18px;
            margin-top: 15px;
        }

        .phantrang {
            margin-left: 20px;
            width: 90%;
            height: auto;
            margin: 0% 3% 0% 3%;
        }

        .input1 {
            width: 70px;
            height: 30px;
            text-align: center;
            margin-right: 15px;
        }

        .skip {
            width: 100px;
            height: 32px;
        }

        .extract {
            width: 10%;
            height: 40px;
        }

        .phan {
            float: right;
            margin-top: 10px;
        }

        .pvg {
            list-style: none;
            float: left;
        }

        .export-data {
            width: 5%;
            height: 40px;
            float: right;
            margin-right: 54px;
        }

        .url {
            width: 20%;
            height: 26px;
        }

        body, html {
            margin: 0;
            padding: 0;
        }

        .export-data {
            background-color: #808080;
            width: auto;
            border: none;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: 'BenchNine', Arial, sans-serif;
            font-size: 1em;
            font-size: 18px;
            line-height: 1em;
            margin: 10px 35px;
            outline: none;
            padding: 12px 30px 10px;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
        }

        .export-data:before,
        .export-data:after {
            border-color: transparent;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            border-style: solid;
            border-width: 0;
            content: "";
            height: 24px;
            position: absolute;
            width: 24px;
        }

        .export-data:before {
            border-color: #808080;
            border-top-width: 2px;
            left: 0px;
            top: -5px;
        }

        .export-data:after {
            border-bottom-width: 2px;
            border-color: #808080;
            bottom: -5px;
            right: 0px;
        }

        .export-data:hover,
        .export-data.hover {
            background-color: #808080;
        }

        .export-data:hover:before,
        .export-data.hover:before,
        .export-data:hover:after,
        .export-data.hover:after {
            height: 100%;
            width: 100%;
        }

        .export {
            background-color: #808080;
            width: auto;
            border: none;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: 'BenchNine', Arial, sans-serif;
            font-size: 1em;
            font-size: 18px;
            line-height: 1em;
            margin: 10px 35px;
            outline: none;
            padding: 12px 30px 10px;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
        }

        .export:before,
        .export:after {
            border-color: transparent;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            border-style: solid;
            border-width: 0;
            content: "";
            height: 24px;
            position: absolute;
            width: 24px;
        }

        .export:before {
            border-color: #808080;
            border-top-width: 2px;
            left: 0px;
            top: -5px;
        }

        .export:after {
            border-bottom-width: 2px;
            border-color: #808080;
            bottom: -5px;
            right: 0px;
        }

        .export:hover,
        .export.hover {
            background-color: #808080;
        }

        .export:hover:before,
        .export.hover:before,
        .export:hover:after,
        .export.hover:after {
            height: 100%;
            width: 100%;
        }

        .btncon {
            background-color: #808080;
            width: 50%;
            border: none;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: 'BenchNine', Arial, sans-serif;
            font-size: 1em;
            font-size: 18px;
            line-height: 1em;
            outline: none;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
        }

        .btncon:before,
        .btncon:after {
            border-color: transparent;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            border-style: solid;
            border-width: 0;
            content: "";
            height: 24px;
            position: absolute;
            width: 24px;
        }

        .btncon:before {
            border-color: #808080;
            border-top-width: 2px;
            left: 0px;
            top: -5px;
        }

        .btncon:after {
            border-bottom-width: 2px;
            border-color: #808080;
            bottom: -5px;
            right: 0px;
        }

        .btncon:hover,
        .btncon.hover {
            background-color: #808080;
        }

        .btncon:hover:before,
        .btncon.hover:before,
        .btncon:hover:after,
        .btncon.hover:after {
            height: 100%;
            width: 100%;
        }

        .btncon-gh {
            background-color: #808080;
            width: auto;
            height: 15%;
            border: none;
            color: #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: 'BenchNine', Arial, sans-serif;
            font-size: 1em;
            font-size: 18px;
            line-height: 1em;
            outline: none;
            position: relative;
            text-transform: uppercase;
            font-weight: 700;
        }

        .btncon-gh:before,
        .btncon-gh:after {
            border-color: transparent;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
            border-style: solid;
            border-width: 0;
            content: "";
            height: 24px;
            position: absolute;
            width: 24px;
        }

        .btncon-gh:before {
            border-color: #808080;
            border-top-width: 2px;
            left: 0px;
            top: -5px;
        }

        .btncon-gh:after {
            border-bottom-width: 2px;
            border-color: #808080;
            bottom: -5px;
            right: 0px;
        }

        .btncon-gh:hover,
        .btncon-gh.hover {
            background-color: #808080;
        }

        .btncon-gh:hover:before,
        .btncon-gh.hover:before,
        .btncon-gh:hover:after,
        .btncon-gh.hover:after {
            height: 100%;
            width: 100%;
        }

        .modal-dialog {
            margin-left: 15%;
        }

        .modal-content {
            margin-left: 15%;
            height: 500px;
        }
    </style>
</div>
<div class="content">
    <div class="content-1">
        <p>
            <input type="radio" id="dlcs" onclick="chonDLgoc()" checked="true"/>
            <label for="age1" style="font-size: 18px">Dữ Liệu Có Sẵn</label>
            <input type="radio" id="dlcs1" onclick="chonDLkhac()"/>
            <label for="age2" style="font-size: 18px">Dữ Liệu Khác</label>
        </p>
        <p>
            <span style="font-size: 18px">Nguồn Dữ Liệu</span>
            <select id="data-exsit" style="width: 10%;height: 30px;">
                <option></option>
                <option>VOV</option>
                <option>Wikipedia</option>
                <option>Ted talk</option>
                <option>Subtitle</option>
                <option>Paracrawl</option>
            </select>
            <span class="website"> Link Website</span>
            <input id="urlnn1" type="text" style="margin-right: 10px;" class="url" disabled="true">
            <input id="urlnn2" type="text" class="url" disabled="true">
        </p>
        <p>
            <span style="font-size: 18px">Cặp Ngôn Ngữ</span>
            <select class="leangue">
                <option></option>
                <option>Vietnamese</option>
                <option>Khmer</option>
                <option>Chinese</option>
                <option>Laos</option>
                <option>English</option>
            </select>
            <span>
			<select class="leangue">
				<option></option>
				<option>English</option>
				<option>Laos</option>
				<option>Chinese</option>
				<option>Khmer</option>
				<option>Vietnamese</option>
			</select>
		</span>
        </p>
        <div style="margin-left: 10px;">
            <button class="export" id="extract-vb">Extract Văn Bản</button>
            <button class="export" id="extract-cau">Extract Câu song ngữ</button>
        </div>
    </div>

    <div class="modal" id="modal_ghvb" style="display: none;">
        <table class="modal-table">
            <tr>
                <th style="width: 3%;"><input id="btncheck_vb" type="checkbox" name=""></th>
                <th style="width: 35%;">Vietnamese</th>
                <th style="width: 35%;">Khmer</th>
                <th style="width: 5%;">Độ đo</th>
                <th style="width: 10%;">Edit</th>
                <th style="width: 10%;">Gióng Hàng</th>
            </tr>
            <tr>
                <td><input type="checkbox" name="name2"></td>
                <td>Theo báo cáo của đại diện Sở Giáo dục và Đào tạo TPHCM tại cuộc họp Ban chỉ đạo phòng chống dịch
                    COVID-19 TPHCM chiều 3/12, toàn thành phố có 8.211 học sinh và 663 giáo viên, nhân viên thuộc các
                    khối mầm non và THPT phải nghỉ học, nghỉ làm để phòng chống dịch COVID-19 (trong đó nghỉ toàn trường
                    có 8 trường và có 195 trường nghỉ một số khối lớp).
                </td>
                <td>According to the report of the representative of the Department of Education and Training of Ho Chi
                    Minh City at the meeting of the Steering Committee for COVID-19 epidemic prevention in Ho Chi Minh
                    City on the afternoon of December 3, the whole city had 8,211 students and 663 teachers and staff
                    from preschools. and high schools had to quit school and work to prevent COVID-19 epidemic (in which
                    there were 8 schools out of the whole school and 195 schools without some classrooms).
                </td>
                <td>0.2</td>
                <td>
                    <button style="width: 40%;height: 30px;" id="detele" class="btncon">Xoá</button>
                    <button style="width: 40%;height: 30px;margin-left:10px;" id="edit" onclick="popupOpen()"
                            class="btncon">Edit
                    </button>
                </td>
                <td>
                    <button class="btncon-gh" id="gionghang1" class="btncon">Gióng hàng</button>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox" name="name2"></td>
                <td>Tại hiện trường, hàng loạt phương tiện cơ giới cùng hàng hóa trong kho hàng chứa vật tư xăng
                    dầu...
                </td>
                <td>At the scene, a series of motor vehicles and goods in the storage of petroleum materials ...</td>
                <td>0.2</td>
                <td>
                    <button style="width: 40%;height: 30px;" id="detele" class="btncon">Xoá</button>
                    <button style="width: 40%;height: 30px;margin-left:10px;" id="edit" onclick="popupOpen()"
                            class="btncon">Edit
                    </button>
                </td>
                <td>
                    <button class="btncon-gh" id="gionghang1">Gióng hàng</button>
                </td>
            </tr>
        </table>
        <div class="phantrang">
            <p>
                <input type="text" placeholder="1 - 2" class="input1">
                <a href="" style="font-weight: bold; width: 150px;text-decoration: none; ">
                    <span aria-hidden="true" id="">←</span> Trước
                </a>
                <a href="" style="font-weight: bold; width: 150px;text-decoration: none;">Sau
                    <span aria-hidden="true">→</span>
                </a>
                <button class="export-data" id="export-data"> Export Data</button>
                <button class="export-data" id="export-all">Save All</button>
            </p>
        </div>
    </div>
    <div style="margin: 1% 3% 0% 3%; width: 100%;display: none;" id="modal_cau">
        <table style="width: 90%;height: auto;text-align: center;font-size: 18px;margin-top: 15px;">
            <thead>
                <tr>
                    <td style="width: 3%;"><input id="btncheck" type="checkbox" name=""></td>
                    <td style="width: 35%;">Vietnamese</td>
                    <td style="width: 35%;">Khmer</td>
                    <td style="width: 5%;">Độ đo</td>
                    <td style="width: 10%;">Edit</td>
                </tr>
            </thead>
            <tbody id="tbody">
<!--            <tr>-->
<!--                <td><input id="check_all" type="checkbox" name="name[]"></td>-->
<!--                <td>Hơn 170.000 học sinh, sinh viên nghỉ học chống Covid-19</td>-->
<!--                <td>សិស្សនិងនិស្សិតច្រើនជាង ១៧ ម៉ឺននាក់បានឈប់រៀនប្រឆាំងនឹង Covid-19</td>-->
<!--                <td>0.5</td>-->
<!--                <td>-->
<!--                    <button style="width: 40%;height: 30px;" id="detele" class="btncon">Xoá</button>-->
<!--                    <button style="width: 40%;height: 30px;margin-left:10px;" id="edit" onclick="popupOpen()"-->
<!--                            class="btncon">Edit-->
<!--                    </button>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td><input id="check_all" type="checkbox" name="name[]"></td>-->
<!--                <td>Hơn 64 triệu ca nCoV toàn cầu, WHO cảnh báo về đại dịch tương lai</td>-->
<!--                <td>អង្គការសុខភាពពិភពលោកព្រមានជាង ៦៤-->
<!--                    លានករណីនៅទូទាំងពិភពលោកអង្គការសុខភាពពិភពលោកព្រមានពីការរាតត្បាតនាពេលអនាគត-->
<!--                </td>-->
<!--                <td>0.5</td>-->
<!--                <td>-->
<!--                    <button style="width: 40%;height: 30px;" id="detele" class="btncon">Xoá</button>-->
<!--                    <button style="width: 40%;height: 30px;margin-left:10px;" id="edit" onclick="popupOpen()"-->
<!--                            class="btncon">Edit-->
<!--                    </button>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>

        </table>
        <div class="phantrang">
            <p>
                <input type="text" placeholder="1 - 2" class="input1">
                <a href="" style="font-weight: bold; width: 150px;text-decoration: none; ">
                    <span aria-hidden="true" id="">←</span> Trước
                </a>
                <a href="" style="font-weight: bold; width: 150px;text-decoration: none;">Sau
                    <span aria-hidden="true">→</span>
                </a>
                <button class="export-data" id="export-data"> Export Data</button>
                <button class="export-data" id="export-all">Save All</button>
                <button class="export-data">Checks Exist</button>
            </p>
        </div>
    </div>
</div>
</div>
<div class="modal-dialog" id="popup"
     style="top:100px;display:none;position:fixed;z-index:100;width:70%;background-color: #BDBDBD">
    <div class="modal-content">
        <div class="modal-header" style="height: 100px;">
            <button type="button" onclick="popupClose()" data-dismiss="modal"
                    style="margin-top: 3px;margin-bottom: 30px;">×
            </button>
            <!-- <h4 class="modal-title">Chỉnh sửa ngữ liệu song ngữ</h4> -->
            <h4 class="modal-title" style="font-size: 16px;margin-top: -1%;">
                <div class="row">
                    <div class="col-md-5">
                        <label for="field4">
											<span>Status:
												<span class="required"></span>
											</span>
                            <select name="select_status_ctmL6RA47mkLvRFaT" style="padding: 5px; width: 195px;">
                                <option value="sure">Sure</option>
                                <option value="notSure">Not Sure</option>
                                <option value="needReview">Need Review</option>
                                <option value="veryNeedReview">Really Need Review</option>
                            </select>
                        </label>

                        <label for="field4" style="margin-top: 5px">
											<span>Topic:
												<span class="required"></span>
											</span>
                            <select name="select_topic_ctmL6RA47mkLvRFaT"
                                    style="padding: 5px; margin-left: 7px; width: 195px">
                                <option value="tourism">Tourism</option>
                                <option value="law_commercial">Commercial law</option>
                                <option value="ja_culture">Japanese culture</option>
                                <option value="law_investiment">Investment law</option>
                                <option value="law_tourism">Tourism law</option>
                                <option value="other_topic">Other topics</option>
                            </select>
                        </label>

                    </div>
                    <div class="col-md-3">
                        <label for="field4">
                            Edit count: 0
                        </label>
                    </div>
                    <div class="col-md-4" style="width: 220px;">
                        <label for="field4">

                        </label>
                    </div>
                </div>
            </h4>
        </div>
        <div class="modal-body" style="margin-top: 2%;">
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="font-weight: bold; font-size: 18px;">Vietnamese</div>
                    <div class="row">
                        <label for="field2">
                            <!-- <textarea rows="10" cols="49.8"
                            style="max-width: 100%; color: black;"
                            name="vietnamese_sentence_{{_id}}">{{#if vnSentenceEdited}}{{vnSentenceEdited}}{{else}}{{vietnamese_sentence}}{{/if}}</textarea> -->

                            <!-- comment to remove redundant spaces -->
                            <div id="vietnamese_sentence_ctmL6RA47mkLvRFaT"
                                 style="width: 465px; max-width: 100%; color: black; border: 1px solid black; height: 206px; font-weight: normal; padding: 5px; overflow-y: auto;"
                                 contenteditable="true"><!--
											--><!--
												--><!--
													--><!--
														--><span style="color: black;">Tiếp tục khắc phục hậu quả bão lũ ở các tình miền Trung.</span><!--
													--><!--
												--><!--
											--><!--
										 --></div>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row" style="font-weight: bold; font-size: 18px;">Khmer</div>
                    <div class="row">
                        <label for="field2">
                            <!-- <textarea rows="10" cols="49.8"
                            style="max-width: 100%; color: black;"
                            name="japanese_sentence_{{_id}}">{{#if jpSentenceEdited}}{{jpSentenceEdited}}{{else}}{{japanese_sentence}}{{/if}}</textarea> -->

                            <!-- comment to remove redundant spaces -->
                            <div id="japanese_sentence_ctmL6RA47mkLvRFaT"
                                 style="width: 465px; max-width: 100%; color: black; border: 1px solid black; height: 206px; font-weight: normal; padding: 5px; overflow-y: auto;"
                                 contenteditable="true">
                                <span style="color: black;">បន្តសកម្មភាពជំនះពុះពារនូវផលវិបាកបណ្តាមកពីព្យុះនិងទឹកជំនន់នៅតំបន់ភាគកណ្តាលវៀតណាម</span>

                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <button type="submit" class="btn-save-edit btn btn-primary btn-lg center-block" data-dismiss="modal"
                            style="width: 200px; margin-top: 25px;
											   margin-right: 45px; float: right;">Save Editing
                    </button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
    </div>
</div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/align/script.js"></script>
</body>
</html>